body {
	padding-top: 50px;
}

.jumbotron {
	background-image: url('/images/code-wallpaper-4.png');
	color: #ffffff;
	background-size: contain;
	background-repeat: repeat-x;
	background-color: #020016;
}

.top-margin-20 {
	margin-top: 30px;
}

.white-user {
	color:#ffffff;
	font-size: large;
}

.gly-right {
	float: right;
}

ol li.list-group-item {
	list-style: decimal inside;
	display: list-item;
}

h3.panel-title.pull-left {
	padding-top: 7.5px;
}
a.btn.btn-primary.pull-right {
	margin-left: 5px;
}

blockquote {
	border: 0px;
}

.container .content {
	display: none;
	padding : 5px;
}
